Repository compiler-explorer/infra, pull requests merged in 2018-10, with the labels that each got.

#116 Install Swift 4.2
  update_compilers/install_swift_compilers.sh
Labels: new-compiler

#119 Add outcome to list of libraries synced
  update_compilers/install_libraries.sh
Labels: new-libs

#118 Clean
  update_compilers/install_clean_compilers.sh
  update_compilers/install_compilers.sh
Labels: new-compiler, new-language

#121 Add CNL library to C++
  update_compilers/install_libraries.sh
Labels: new-libs
