Repository compiler-explorer/infra, pull requests merged in 2019-07, with the labels that each got.

#231 Add LDC 1.16.0
  update_compilers/install_d_compilers.sh
Labels: new-compiler

#229 Add ispc trunk nightly
  bin/lib/installation.py
  bin/yaml/ispc.yaml
  update_compilers/install_cpp_compilers.sh
Labels: enhancement, new-compiler

#228 Enable elb access log stored to s3
  terraform/alb.tf
  terraform/s3.tf
Labels: enhancement
