Repository compiler-explorer/infra, pull requests merged in 2019-12, with the labels that each got.

#289 fmt 6.1.0 and ranges-v3 0.10.0 added
  update_compilers/install_libraries.sh
Labels: new-libs

#290 Rust: update to 1.40.0
  update_compilers/install_rust_compilers.sh
Labels: new-compiler

#291 Add Nim language and compiler (version 1.0.4)
  update_compilers/install_compilers.sh
  update_compilers/install_nim_compilers.sh
Labels: new-compiler, new-language
