Repository compiler-explorer/infra, pull requests merged in 2020-02, with the labels that each got.

#309 Rust: update to 1.41.0
  update_compilers/install_rust_compilers.sh
Labels: new-compiler

#312 Add LDC 1.20.0
  update_compilers/install_d_compilers.sh
Labels: enhancement, new-compiler

#314 Update to Blaze 3.7 release
  update_compilers/install_libraries.sh
Labels: new-libs
